html {
  font-family: 'Poppins', sans-serif;
}
ul {
  list-style-type: none;
}
body {
  margin: 0px;
}
.escape,
.curatorial {
  position: absolute;
  top: 3vh;
  left: 88vw;
}
img.title {
  position: absolute;
  left: 0.8vw;
  top: 25vh;
  height: 50vh;
}
#home {
  background-color: #ffffff;
}
#statement {
  position: absolute;
  top: 0vw;
  left: 0vw;
  width: 100%;
  min-height: 100%;
  display: none;
}
#statement .text_area {
  position: absolute;
  overflow: auto;
  top: 3.9vw;
  left: 19.9vw;
  width: 60.1vw;
  height: 46vw;
}
#statement .title {
  font-size: 2.3vw;
}
#statement .summary,
#statement .description {
  font-size: 1.4vw;
  margin-bottom: 2.8vw;
}
#statement .left_side {
  position: absolute;
  top: 300px;
  left: -200px;
  transform: rotate(-90deg);
}
#statement .left_title {
  height: 23.4vw;
}
#constellation .archives_background{
  position: absolute;
  background: #000;
  top: 0;
  right: 0;
  height: 100vh;
  width: 3vw;
}
#constellation .archives {
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-45vh, 98vw);
}
#constellation .archives>a {
  text-decoration: none;
  font-size: 1vw;
  color: #fff;
}
#works {
  position: absolute;
  left: 3vw;
  height: 100vh;
  width: 80vw;
  margin: 0;
  overflow: hidden;
}
#works .column {
  float: left;
}
#works .column ul{
  padding-left: 15%;
  padding-top: 30%;
}
#works img,
#works svg {
  padding-bottom: 0.7vw;
  max-width: 85%;
}
#menulist{
  top: 0px;
  left: -31vw;
  width: 31vw;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-color: #abd5af;
  transition: 500ms;
  -webkit-transition: 500ms;
}
#menulist.show {
  display: block;
  transform: translateX(31vw);
}
#menulist ul {
  list-style-type: none;
  padding-top: 7.8vw;
}
#menulist li {
  line-height: 2.5;
  padding-left: 2vw;
}
#menulist li a {
  font-size: 1.4vw;
  text-decoration: none;
}
#work .main {
  position: absolute;
  top: 5vh;
  left: 18.7vw;
  width: 62.5vw;
  height: 95vh;
  text-align: center;
}
#work .main img,
#work .main video,
#work .main audio {
  max-width: 100%;
  max-height: 80%;
}
#work .main audio {
  margin-top: 11.7vw;
  width: 100%;
}
#work .main p {
  text-align: center;
}
#work .prev {
  position: absolute;
  bottom: 0;
  left: 7.8vw;
}
#work .next {
  position: absolute;
  bottom: 0;
  left: 84.4vw;
}
#work .prev div,
#work .next div {
  position: relative;
  width: 7.8vw;
  height: 10.3vw;
}
#work .thumb,
#work .thumb {
  position: absolute;
  bottom: 0;
  margin: auto;
  max-width: 7.8vw;
  max-height: 10.3vw;
}
#work .arrow {
  width: 3.1vw;
  margin-top: 0.78vw;
  display: block;
}
#work .right {
  margin-left: 5.5vw;
}
#work .left{
  margin-left: 0.8vw;
}
#archives .table_container {
  top: 5vh;
  left: 10vw;
  width: 90vw;
  height: 95vh;
  position: absolute;
  overflow: auto;
}
#archives table {
  table-layout: fixed;
}
#archives table {
  align: right;
}
#archives td {
  width: 15vw;
  height: 15vw;
  padding: 2vw;
}
#archives td.text {
  text-align: left;
  font-size: 1.8vw;
}
#archives td.text span {
  font-size: 2vw;
}
#archives td img {
  max-width: 14vw;
  max-height: 14vw;
}

.top {
  vertical-align: top;
}
.bottom {
  vertical-align: bottom;
}
.v_center {
  vertical-align: bottom;
}
.left {
  text-align: left;
}
.right{
  text-align: right;
}
.h_center{
  text-align: center;
}
