<div id="home">
</div>
<script type="text/template" id="home_template">
  <div class="title language"><p><a href="#language"><%= LANGUAGE %></a></p></div>
  <div class="title instagram"><p><%= INSTAGRAM %></p></div>
  <div class="statement instagram_link">
    <a href="<%= INSTAGRAM_URL %>"><%= OPEN_PAGE %></a>
  </div>
  <div class="title curatorial"><p><%= CURATORIAL %></p></div>
  <div class="statement curatorial_text">
    <p><%= CURATORIAL_TITLE %></p>
    <p><%= CURATORIAL_SUMMARY %></p>
    <p><%= CURATORIAL_DESCRIPTION %></p>
  </div>
  <div class="title aboutus"><p><%= ABOUTUS %></p></div>
  <div class="statement aboutus_text">
    <p><%= ABOUTUS_SUMMARY %></p>
  </div>
</script>
