<div id="home">
</div>
<script type="text/template" id="home_template">
  <div class="title language"><p><a href="#language"><%= LANGUAGE %></a></p></div>
  <div class="title login"><p><%= LOGIN %></p></div>
  <div id="google_signin"></div>
  <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>

  <div class="title signup"><p><%= SIGNUP %></p></div>
  <div id="google_signup"></div>

  <div class="title curatorial"><p><%= CURATORIAL %></p></div>
  <div class="statement curatorial_text">
    <p><%= CURATORIAL_TITLE %></p>
    <p><%= CURATORIAL_SUMMARY %></p>
    <p><%= CURATORIAL_DESCRIPTION %></p>
  </div>
  <div class="title aboutus"><p><%= ABOUTUS %></p></div>
  <div class="statement aboutus_text">
    <p><%= ABOUTUS_SUMMARY %></p>
  </div>
</script>
