<div id="home">
</div>
<script type="text/template" id="home_template">
  <script src=https://apis.google.com/js/platform.js" async defer></script>
  <div class="language"><p><a href="#language"><%= LANGUAGE %></a></p></div>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <div class="login"><p><%= LOGIN %></p></div>
  <div class="login_id"><input type="text" placeholder="<%= ACCOUNT %>"></div>
  <div class="login_pw"><input type="text" placeholder="<%= PASSWORD %>"></div>
  <div class="login_btn"><p><a href="#signup"><%= SUBMIT %></a></p></div>
  <div class="signup"><p><%= SIGNUP %></p></div>
  <div class="signup_id"><input type="text" placeholder="<%= ACCOUNT %>"></div>
  <div class="signup_pw"><input type="text" placeholder="<%= PASSWORD %>"></div>
  <div class="signup_btn"><p><a href="#archives"><%= SUBMIT %></a></p></div>
  <div class="curatorial"><p><%= CURATORIAL %></p></div>
  <div class="curatorial_text">
    <p><%= CURATORIAL_TITLE %></p>
    <p><%= CURATORIAL_SUMMARY %></p>
    <p><%= CURATORIAL_DESCRIPTION %></p>
  </div>
  <div class="aboutus"><p><%= ABOUTUS %></p></div>
  <div class="aboutus_text">
    <p><%= ABOUTUS_TITLE %></p>
    <p><%= ABOUTUS_SUMMARY %></p>
  </div>
</script>
